
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container{ 
    margin-top: 70px;
    min-height: 90vh;
}
.card{
    padding: 0;
    margin: 10px;
    width: 300px;
}
@media (max-width: 767px) {
    .card{
        width: 400px;
    }
}
@media (min-width: 992px) {
    .card{
        width: 250px;
    }

}
